<header class="site-header">
  <div class="container">
    <a class="site-title" href="{% if page.lang == 'pt-br' %}/pt-br/{% else %}/{% endif %}">
      {{ site.title }}
    </a>
    <nav class="site-nav">
      {% if page.lang == "pt-br" %}
        <a href="/pt-br/" {% if page.url == '/pt-br/' %}class="active"{% endif %}>Início</a>
        <a href="/pt-br/blog/" {% if page.url contains '/pt-br/blog' %}class="active"{% endif %}>Blog</a>
        <div class="lang-switcher">
          <span class="lang-current">PT</span>
          <span class="lang-sep">|</span>
          {% if page.translation_url %}
          <a href="{{ page.translation_url }}" class="lang-link">EN</a>
          {% else %}
          <a href="{{ page.url | replace: '/pt-br', '' | replace: '//','/' }}" class="lang-link">EN</a>
          {% endif %}
        </div>
      {% else %}
        <a href="/" {% if page.url == '/' %}class="active"{% endif %}>Home</a>
        <a href="/blog/" {% if page.url contains '/blog' %}class="active"{% endif %}>Blog</a>
        <div class="lang-switcher">
          <span class="lang-current">EN</span>
          <span class="lang-sep">|</span>
          {% if page.translation_url %}
          <a href="{{ page.translation_url }}" class="lang-link">PT</a>
          {% else %}
          <a href="/pt-br{{ page.url }}" class="lang-link">PT</a>
          {% endif %}
        </div>
      {% endif %}
    </nav>
  </div>
</header>
